* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../../../../img/rectangle.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;
    background-color: #FAF8F5;

}